<body>
<div id="wikicontent">
 <div class="vt" id="wikimaincol">
 <h1><a name="Introduction"></a>Introduction<a href="#Introduction" class="section_anchor"></a></h1>
<p>
For the latest version of these docs, please goto<br>
<a href="https://code.google.com/p/green-fruit-engine/wiki/Help_and_About">https://code.google.com/p/green-fruit-engine/wiki/Help_and_About</a>
</p>
<p>The green fruit engine is a system that lets you ask for objects and things that meet certain requirements. For example, if you type <strong>"Color=Green Fruit"</strong> It will give you a list of green fruit.  Unlike a search engine, which could only give you a list of green fruit if someone already listed them on a page, green fruit engine can make its own deductions. If it has a list of green things, and a list of fruit, then it can deduce which fruits are green. </p><p>This is only a very simple example, of course. The hope is as more and more people contribute data, the engine will be able to answer more and more complex questions. For example; </p><p><strong>"TV show" Doctor=(PlayedBy<a href="/p/green-fruit-engine/w/edit/PlayedBy">?</a>="Tom Baker") Villian=Daleks</strong> </p><p>Would give you all the TV shows, where the Doctor is played by Tom Baker, and the Villians are Daleks. If you wanted all the episodes with Tom Baker but without daleks you could use; </p><p><strong>"TV show" Doctor=(PlayedBy<a href="/p/green-fruit-engine/w/edit/PlayedBy">?</a>="Tom Baker") !(Villian=Daleks)</strong> </p><p>Not the ! here means "Not" </p><p>As more people contribute information, more sorts of questions should be answerable. </p><h1><a name="How_to_use_the_engine"></a>How to use the engine<a href="#How_to_use_the_engine" class="section_anchor"></a></h1><p>Using the engine requires entering querys into the box, and hitting enter. </p><p>Querys take the form of words specifying what you want to include or exclude from the list. By default, all words you specify are requirements. That is, things in the results must have all the propertys you specify. </p><p>Just typing <strong>"Fruit"</strong> would mean all the results are fruit. </p><p>Typing <strong>"Fruit color=red"</strong> would mean all the results have to be both red and fruit. </p><p><tt> "Fruit !( color=red ) "</tt>  would mean all the none red fruit. </p><p><tt>"Fruit ( color=red || color=green ) "</tt>  fruit colored red or green. This is because <tt>||</tt> in-between words means OR.  Without this, a list of words mean AND. </p><p><tt>"Fruit (color=(red||green))"</tt> would mean the exact same. </p>
 </div>
 </div>
<body>