The Green Fruit engine is intended to be a very simple way<br>
 to find things that meet certain requirements.<br>
<br>
For example, if you want a list of green fruit you can type<br>
<b>Colour=Green Fruit</b> <br>
and it should list them for you. <br>
Unlike a regular search engine, it understands what the words mean in relation to
eachother - allowing very complex requests to be made.<br>
<br>
For example, if you want a list of female primates or timelords in any sex<br>
<b>(Primate Female) || "Time Lord"</b> <br>
and it should list them for you. <br>

<br>
At the moment the database mostly knows about Doctor Who triva upto season 5 of the rebooted series.<br>
This is because its losely based of a old PHP engine here:<br>

<a href="http://www.darkflame.co.uk/Mesh/semantictests/Semantic_Query.php">http://www.darkflame.co.uk/Mesh/semantictests/Semantic_Query.php</a><br>

Untill proper docs are written, you can use that engine and docs as an example of what you can do with this one.<br>
The main change is ":" becomes "="<br>
You can also use special functions for debugging:<br><br>
allsets<br>
node:########<br>
nodeUri:########<br>
allprefixs<br>

<br>
-Thomas Wrobel <br>

<br>
ps. oh, and one more thing; The green fruit engine runs of "SuperSimpleSemantic" files, which for those technicaly minded are
a form of N-Tripples with some heavy assumptions. For everyone else, they are basic text files you can put on your server
to contribute to the database!<br>
More details will follow, or can be found on our <a href="https://code.google.com/p/green-fruit-engine/">googlecode page.</a><br>
 